################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StatementParser/bin
/StatementParser/obj
/.vs